.hero {
  background: url(https://wallpaperaccess.com/full/1510143.jpg) no-repeat center
    center/cover;
}

.hero .overlay {
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.hero .overlay .logo {
  margin-top: 10%;
  text-align: center;
}

.hero .overlay .logo img {
  height: 300px;
}

.hero .overlay .hero-content .tagline {
  font-family: "MonteCarlo", cursive;
  font-size: 3rem;
  color: white;
  text-align: center;
}

.hero .overlay .hero-content .buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.hero .overlay .hero-content .buttons .btn {
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 6px;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: #fff;
  background: #ff0000;
  border: 2px solid #ff0000;
  transition: all 0.3s ease-in-out;
}

.hero .overlay .hero-content .buttons .btn:hover {
  background: #ffffff;
  border: 2px solid #000000;
  color: #000000;
}

/*----Our-Story-------*/

.our-story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.our-story .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  width: 80%;
}

.our-story .content .title {
  font-family: "Montagu Slab", serif;
  font-weight: 500;
  font-size: 2rem;
  color: #000000;
  text-align: center;
  margin: 1rem;
}

.accent {
  color: #ff0000 !important;
}

.our-story .content .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .our-story .content .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-story .content .grid .p {
    text-align: center !important;
  }
}

.our-story .content .grid .img {
  height: 200px;
  width: 100%;
  /* margin: 2rem; */
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0.8rem 0;
}

.our-story .content .grid .img img {
  height: 100%;
  width: 90%;
  object-fit: cover;
  border-radius: 5px;

  border: 1px solid #ffffff;
  /* aspect-ratio: 16/9; */
}

.our-story .content .grid .p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  margin: 1rem;
}

.our-story .content .grid .p:nth-child(1) {
  text-align: right;
}

.dining {
  background: url(dining.jpg) no-repeat center center/cover;
}

.dining .overlay {
  background: rgba(0, 0, 0, 0.83);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  color: white;
}
.dining .overlay .content {
  display: flex;
  flex-direction: column;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .dining .overlay .content {
    width: 100%;
  }
}

.dining .overlay .content .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: #ffffff;
  margin: 1rem 0;
}

.dining .overlay .content .description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  margin: 1rem 0;
}

.dining .overlay .content .button {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 2rem;
}

.dining .overlay .content .button .btn {
  padding: 0.5rem;
  /* margin: 0 0.5rem; */
  border-radius: 6px;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: #fff;
  background: #ff0000;
  border: 2px solid #ff0000;
  transition: all 0.3s ease-in-out;
}

.dining .overlay .content .button .btn:hover {
  background: #ffffff;
  border: 2px solid #000000;
  color: #000000;
}
